.chat {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 300px;
  animation: chat 400ms linear;
  z-index: 10;
  border: 1px solid var(--secondary);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes chat {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 450px) {
  .chat {
    width: 100%;
    margin-right: 0;
    right: 0;
  }
}

.chat_wrapper {
  padding: 20px;
}

.chat_messages {
  height: 250px;
  width: 100%;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  padding-right: 5px;
}

.chat_messages li {
  margin-bottom: 5px;
}

.message_name {
  font-weight: 600;
}

.chat_input {
  width: 100%;
}

.chat_exit {
  cursor: pointer;
  font-size: 22px;
}